.bg{
    background-image: url(../../images/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper{
    width: 50%;
    height: 55%;
    background: var(--darkGray);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    display: flex;
    overflow: hidden;
}
.login-form{
    height: 100%;
    width: 55%;
    padding: 5% 8% 10% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.login-img{
    height: 100%;
    width: 45%;
    background-image: url(../../images/01.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 0;
}
.login-heading{
    color: var(--white);
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-heading .login{
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 1px;
}
.login-heading .login-sub{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
}
.login-form form{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-form form input[type="text"], .login-form form input[type="password"]{
    padding: 17px 25px;
    border-radius: 10px;
    height: 23%;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}
.login-form form input[type="submit"]{
    padding: 17px 25px;
    height: 23%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--red);
    font-size: 16px;
    letter-spacing: .5px;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    transition: .2s ease-in;
}
.login-form form input[type="submit"]:hover{
    background: var(--blue);
}
.login-logo{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15%;
    height: auto;
}
.login-wlcm{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: var(--white);
    padding: 5%;
}
.login-wlcm .wlcm-mess{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30%;
    align-items: center;
}
.login-wlcm .wlcm-mess .wlcm-heading{
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 80px;
}
.login-wlcm .wlcm-mess .wlcm-sub{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 80%;
}
.login-wlcm .logout-btn button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    padding: 15px 25px;
    border-radius: 10px;
    background: var(--red);
    gap: 10px;
    cursor: pointer;
    transition: .2s ease-in;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}
.login-wlcm .logout-btn button p{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
}
.login-wlcm .logout-btn button svg{
    height: 16px;
    width: auto;
}
.login-err{
    position: absolute;
    top: 87%;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    text-align: center;
}
.logout-btn button:hover{
    background: var(--blue);
}
#header.index{
    pointer-events: none;
}
#mobile-menu.index{
    pointer-events: none;
}
.user-1, .user-2{
    width: 50%;
    padding: 7%;
    text-decoration: none;
    transition: .4s ease;
}
.user-1:hover, .user-2:hover{
    background: var(--red);
    border-radius: 10px;
}
.user-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--white);
    transition: .4s ease;
}
.user-1:hover .user-content, .user-2:hover .user-content{
    color: var(--darkGray);
    transform: scale(1.1);
}
.user-content .user-heading{
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
}
.user-content .user-heading h2{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .5px;
}
.user-content .user-heading p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.user-des p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.login-btn a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    padding: 15px 20px;
    border-radius: 10px;
    background: var(--red);
    gap: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    text-decoration: none;
    transition: .2s ease-in;
}
.login-btn a p{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
}
.login-btn a svg{
    height: 18px;
    width: auto;
}
.login-btn a:hover{
    background: var(--blue);
}
.btns{
    width: 70%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.wlcm-mess.d{
    height: 35%;
}
#mobile-menu, #mobile-navbar{
    display: none;
}
